#mask-canvas {
    display: none
}

#content {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

#phase-changers-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    margin-left: 20px;
}

.phase-changer {
    margin-top: 20px;
    width: 200px;
    height: 50px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #DC9E2D;
    border: none;
}

#status-string, #status-string2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}