#mask-canvas {
    display: none;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack elements vertically */
    padding: 10px;
}

#phase-changers-container {
    display: grid; /* Use grid layout for the buttons */
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 10px; /* Space between buttons */
    margin: 10px;
    width: 100%; /* Full width */
    max-width: 1200px; /* Limit the maximum width */
}

.phase-changer {
    height: 55px; /* Button height */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #DC9E2D;
    border: none;
    cursor: pointer; /* Pointer cursor for buttons */
}

/* Mobile adjustments */
@media (max-width: 768px) {
    #content {
        flex-direction: column; /* Stack elements vertically on mobile */
    }

    .phase-changer {
        width: 90%; /* Responsive width for buttons */
        max-width: 280px; /* Limit max width */
        height: 60px; /* Height for mobile */
        font-size: 16px; /* Font size for mobile */
    }
    
    #status-string, #status-string2 {
        font-size: 14px; /* Font size for mobile */
    }
}
