.nav-container {
    width: 100%;
    height: 50px;
    margin: 0px;

    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;

    background-color: #202229;
}

.nav-item {
    margin-left: 30px;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.nav-item:hover, .nav-dropdown-header:hover, .nav-dropdown-link:hover {
    color: grey;
}

.dropdown-caret {
    font-size: 20px;
}

.nav-dropdown {
    float: left;
    overflow: hidden;
}
  
.nav-dropdown-header {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    padding: 10px 20px 0 20px;

    background-color: #202229;
    width: auto;
    z-index: 1;
}

.nav-dropdown-content a {
    float: none;
    display: block;
    margin-bottom: 10px;

    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}